body {
    font-family: 'Hubballi', cursive, arial !important;
    text-align: center !important;
}
 
#title {
    font-size: 72px;
    margin-top: 125px;
}
#instructions {
    font-size: 48px;
    margin-top: 50px;
}
#roll_button {
    font-size: 36px;
    margin-top: 25px;
}

#roll_button:hover {
    animation: shake 0.5s;
    animation-iteration-count:infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#imageContainer {
margin-top: 50px;
}

#myImg {
    transition: transform 1000ms;
}

#myImg.rotate {
    transform: rotate(360deg);
}

#message {
    font-size: 58px;
    margin-top: 25px;
}