body {
    font-family: 'Hubballi', cursive, arial !important;
    text-align: center !important;
}

#title {
    font-size: 72px;
    margin-top: 125px;
}
#instructions {
    font-size: 48px;
    margin-top: 50px;
}
#roll_button {
    font-size: 36px;
    font-family: 'Hubballi', cursive, arial;
    background-color:aliceblue;
    margin-top: 25px;
}

#imageContainer {
margin-top: 50px;
}
#message {
    font-size: 58px;
    margin-top: 25px;
}

